.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container__inner {
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.container__inner::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}

.img__container {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.img__container > video {
  min-width: 100%;
  max-width: 100%;
}
